header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background-color: white;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("images/ptrbackground.jpg");
}

h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}

/* MY WORK STARTS HERE */

/* GRID DISPLAY */
#wrapper {
	background-color: #00569f;
	width: 80%;
	height: 80%;
	margin: 50px auto 50px auto;
	min-width: 600px;
	display: grid;
	grid-template-columns: 150px auto;
	grid-template-rows: 70px auto 60px;
	grid-auto-columns: 0px;
	grid-auto-rows: 0px;
	/*
	grid-template-areas: 
		"header header header header"
		"nav div div div"
		;
	*/
	
}

/* header display */
header {
	text-align: left;
	color: white;
	grid-column: 1 / 3;
	grid-row: 1 / 2;
	background-image: url("images/sunset.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-color: #000033;
}

/* navigation bar display */
nav {
	grid-column: 1 / 2;
	grid-row: 2 / 4;
	background-color: #84c5e6;
}

nav ul li {
	display:flex;
	margin-left: 10px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align: center;
	width: 150px;
	height: 15px;
	margin: 10px;
}

nav ul {
	font-size: 1.2em;
	padding-left: 5px;
}

nav a:hover {
	color: #FFFFFF;
}

li > a {
	color: black;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

/* footer display */
footer {
	background-color: white;
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	grid-column: -2 / -1;
	grid-row: 3 / 4;
	margin-left: 0px;
	padding: 10px;
}

/* main page content display */

#content {
	margin: 0px;
	padding: 25px;
	background-color: white;
	display: inline-block;
}

#content img {
	float: left;
	margin-right: 20px;
}

#content > h2 {
	margin-top: 0px;
}

/* SOURCE: https://stackoverflow.com/questions/7516005/how-to-make-a-bullet-list-align-with-text-in-css*/
#content > ul {
	list-style-image: url("images/marker.gif");
	list-style-position: inside;
}

#content ul li {
	padding-left: 0px;
}

#contact {
	margin-bottom: 0px;
}

.resort {
	color: #617995;
	font-size: larger;
	font-weight: bold;
}